doctype html
html(lang="es")
    head
        include ../includes/meta.pug
    body

        block header

        main
            block content

        include ../includes/footer.pug
        script(src="../js/libs/bootstrap.min.js") 
        script(src="../js/libs/jquery-3.6.1.min.js") 
        block pageScripts