footer.py-3.my-4.footer
    ul.nav.justify-content-center.border-bottom.pb-3.mb-3
        li 
            a.nav-link.px-2.text-secondary(href="login.html") Home
        li 
            a.nav-link.px-2.text-secondary(href="rooms.html") Rooms 
    p.text-center.text-muted Pinilinpauxa © 2022 P210 - Front End